body {
    max-width: 100%;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    -webkit-text-fill-color: black;

}

.aaa {

    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    margin-top: 35vh;

}

button {
    border: none;
    background-color: aquamarine;
    align-content: center;
    align-items: center;
    font-size: 7vh;

}
